/*h1 田園體驗*/
.eventheadh1 {
	text-align: center;
	
}
.eventheadh1h1 .display{
    font-family:"ZCOOL KuaiLe","Noto Sans TC",sans-serif;
    
  }
  
.eventheadh1h1 {
		font-size:4rem;
		font-weight: 900;
		font-family:"ZCOOL KuaiLe","Noto Sans TC",sans-serif;

		/* 高級漸層色系 */
		background: linear-gradient(
			to right,
			#6ec47a 0%,
			#3fa676 20%,
			#ad9a53 40%,
			#ccc400 60%,
			#1babbf 80%,
			#02b59e 100%
		);
		background-size: 300% 300%;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		
		-webkit-text-fill-color: transparent;
		

		/* 動畫：更順、更細緻 */
		animation: flowGradient 16s ease-in-out infinite;
		display: inline-block;
		
	}
@keyframes flowGradient {
	0%   { background-position: 0% 100%; }
	50%  { background-position: 100% 0%; }
	100% { background-position: 0% 100%; }
}
